body {
  background-color: white;
}

h1 {
  color: black;
  @include transition(all 0.3s);

  &:after {
    @include pseudo('');
    @include triangle(black, 10px, down);
  }

  @include max-screen(600px) {
    color: beige;
  }
}


p {
  @include max-screen(#{$phone}) {
    background-color: yellow;
  }
}
