
<header>

  <h2> {% trans %}site.title{% endtrans %} </h2>

  <nav class="desktop">
    <ul>
      <li><a href="#">{% trans %}nav.home{% endtrans %}</a></li>
      <li><a href="#">{% trans %}nav.about{% endtrans %}</a></li>
      <li><a href="#">{% trans %}nav.projects{% endtrans %}</a></li>
      <li><a href="#">{% trans %}nav.contact{% endtrans %}</a></li>
    </ul>
  </nav>

  <div class="hamburger-container">
    <div class="hamburger">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>


  <nav class="mobile hidden">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Projects</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>

</header>
